Signa.Faturamento.Api/Signa.Faturamento.Api/bin
Signa.Faturamento.Api/Signa.Faturamento.Api/obj
Signa.Faturamento.Api/bin
Signa.Faturamento.Api/obj
.vs
/*.scc
/*/*.scc
/*/*/*.scc
/*/*/*/*.scc
/*/*/*/*/*.scc
/*/*.dll
/*/*/*.dll
/*/*/*/*.dll
/*/*/*/*/*.dll
Signa.Faturamento.Api/packages
packages/
Signa.Faturamento.Api/Properties/PublishProfiles/FolderProfile.pubxml.user